/* Common CSS to copy paste everywhere */

@import url('https://fonts.cdnfonts.com/css/top-secret-stamp');
@import url('https://fonts.cdnfonts.com/css/cocogoose');

@font-face {
    font-family: 'TypewriterPress';
    src: url('../font/TypewriterPress-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'AltoneTrial';
    src: url('../font/AltoneTrial-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --black: #1B1B1E;
    --red: #96031A;
    --yellow: #FAA916;
    --grey: #D5C9BD;
    --green: #283A47;
    --white: #FFF8F0;
    --font-headline: 'Top Secret Stamp', sans-serif;
    --font-headline-bis: 'COCOGOOSE', sans-serif;
    --font-subtitle: 'TypewriterPress', sans-serif;
    --font-text: 'AltoneTrial', sans-serif;
}

::selection {
    background-color: var(--yellow);
    color: var(--black);
}

body,
html {
    margin: 0;
    font-family: 'AltoneTrial';

}

/* ---------- HEADER ---------- */

header {
    background-color: var(--black);
    padding: 0 100px;
}

header a,
header p,
header li {
    color: var(--white);
    text-decoration: none;
}

#first-header {
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid var(--white);
}

.first-header-sous {
    display: flex;
    gap: 20px;
    align-items: center;
}

#logo-header {
    width: 70px;
}

#icon-person img {
    width: 35px;
}

.link-button {
    background: var(--yellow);
    color: var(--white);
    padding: 10px;
    border-radius: 100px;
}

#second-header ul {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* SOUS MENU */

#rub-menu {
    display: none;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    position: absolute;
    transform: translateY(240px);
    border-radius: 30px;
    background-color: var(--black);
}

#rub-menu li {
    padding: 10px 0;
}

header form button {
    border: none;
    background: none;
}

header form {
    width: 180px;
    height: 30px;
    display: flex;
    align-items: center;
    padding-inline: 0.8em;
    border-radius: 100px;
    transition: border-radius 0.5s ease;
    background: var(--white)
}

header form input {
    font-size: 0.9rem;
    background-color: transparent;
    width: 100%;
    height: 100%;
    padding-inline: 0.5em;
    padding-block: 0.7em;
    border: none;
}

header form:before {
    content: "";
    position: absolute;
    transform: scaleX(0);
    transform-origin: center;
    width: 100%;
    height: 30px;
    left: 0;
    bottom: 0;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

header form:focus-within {
    border-radius: 10px;
}

header form input:focus {
    outline: none;
}

/* here is code of animated border */
header form:focus-within:before {
    transform: scale(1);
}

.reset {
    border: none;
    background: none;
    opacity: 0;
    visibility: hidden;
}

/* close button shown when typing */
input:not(:placeholder-shown)~.reset {
    opacity: 1;
    visibility: visible;
}

/* sizing svg icons */
header form svg {
    width: 17px;
    margin-top: 3px;
}

/* LIGHT MODE BUTTON */
.toggle-switch {
    position: relative;
    width: 70px;
    height: 30px;
}

.switch-label {
    position: absolute;
    width: 100%;
    height: 30px;
    background-color: var(--white);
    border-radius: 25px;
    cursor: pointer;
}

.checkbox {
    position: absolute;
    display: none;
}

.slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 25px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

.checkbox:checked~.slider {
    background-color: var(--black);
}

.slider::before {
    content: "";
    position: absolute;
    top: 5px;
    left: -5px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    -webkit-box-shadow: inset 12px -4px 0px 0px var(--black);
    box-shadow: inset 12px -4px 0px 0px var(--black);
    background-color: var(--black);
    -webkit-transition: 0.3s;
    transition: 0.3s;
    -webkit-transform: translateX(50px);
    -ms-transform: translateX(50px);
    transform: translateX(50px);
}

.checkbox:checked~.slider::before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
    background-color: var(--white);
    -webkit-box-shadow: none;
    box-shadow: none;
}