/* FOR EXAMPLE */

/* :root {
    --yellow: #FCC306;
    --green: #0A363F;
    --transition_normal: ease-in 0.3s;
    --titre: 'Bebas Neue';
    --corp: 'Open Sans';
}

::selection {
    background-color: #fcc30682;
    color: white;
} */
